build
__pycache__
.hypothesis
**/csrc/

# PyMTL specific
pymtl_import_config_*.json
**/obj_dir*/
ucli.key

# Verilog generated
*.v
*.v.cases
*_v.cpp*
*.v*
*_v.so*
*_v.py*
*.json.*

# C++ generated
*.cpp
*_v.py
*_v.so

# Simulation artifacts
*.log
*.daidir
*.vcd
*.vpd

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Vivado
vivado_project/
vivado_vector_cgra/
*.jou
*.str
**/.Xil/
**/cgra_proj*/
*.tcl
**/vivado_output/