[submodule "fu/pymtl3_hardfloat"]
	path = fu/pymtl3_hardfloat
	url = git@github.com:pymtl/pymtl3-hardfloat.git
[submodule "fu/dp_fpfma"]
	path = fu/dp_fpfma
	url = https://github.com/tancheng/dp_fpfma
